# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [15]:
Resultado=((10**2)*1)/1+5-4.75 
print (Resultado)

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [17]:
Resultado1=((10**2)**(1/2))
print (Resultado1)
import math
raiz2 = math.sqrt(100)
print("Raíz cuadrada de 100 con math.sqrt :", raiz2)

10.0
Raíz cuadrada de 100 con math.sqrt : 10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [20]:
Resultado2=((100**2))
print (Resultado2)
cuadrado1 = 100 ** 2
print("Cuadrado de 100 con ** :", cuadrado1)

10000
Cuadrado de 100 con ** : 10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [22]:
s = 'hello'

In [24]:
s[1]

'e'

In [25]:
s[::-1]

'olleh'

In [26]:
s[4]

'o'

In [27]:
s[-1]

'o'

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [37]:
lista1 = [0, 0, 0]
print("Lista1:", lista1)

Lista1: [0, 0, 0]

In [36]:
lista2 = [0]*3
print("Lista2:", lista2)

Lista2: [0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [39]:
lista = [1,2,[3,4,'hello']]

In [41]:
lista[2][2] = 'goodbye'
print(lista)

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [42]:
listaSinOrdenar = [5,3,4,6,1]

In [45]:
listaSinOrdenar.sort() 
listaSinOrdenar

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [47]:
f = {'k1':{'k2':'hello'}}

In [73]:
valor = f['k1']['k2']
valor

'hello'

In [49]:
d = {'key1':'hello'}

In [72]:
valor = d['key1']
valor

'hello'

In [52]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [71]:
valor = g['k1'][0]['o1'][1][0]
valor

'hello'

In [54]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [74]:
valor = h['k1'][2]['k2'][1]['dificil'][2][0]
valor

'hello'

#### 9.- Crea una tupla (1 pto)

In [56]:
t = ('tres',240)
t

('tres', 240)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [57]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [58]:
set(listaDuplicada)

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [62]:
# 2 mayor que 3
2 > 3

False

In [65]:
# 3 igual que 2
3 == 2

False

In [68]:
# raíz cuadrada de 4 no es igual a 2
((4)**2) != 2

True

In [77]:
6>5 and 7<8

True

In [75]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [79]:
(len(nombre) == len(colores)) or (len(nombre) < 7)

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [94]:
filas = [
    ["Nombre", "Apellidos", "Edad", "Mascotas"],
    ["Ane", "Ruiz castellano", "63", "Luna"],
    ["Juan", "Aguirre delgado", "46", "Coco"],
    ["Leire", "Palmero castañeda", "18", "bruno"]
]
 
# Crear y escribir en el archivo
with open("tabla-nombres.txt", "w", encoding="utf-8") as archivo:
    for fila in filas:
        # Unimos las columnas con tabulaciones
        archivo.write("\t".join(fila) + "\n")

# Mostramos el contenido como se vería en el archivo
for fila in filas:
    print("\t".join(fila))

Nombre	Apellidos	Edad	Mascotas
Ane	Ruiz castellano	63	Luna
Juan	Aguirre delgado	46	Coco
Leire	Palmero castañeda	18	bruno

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [95]:
 
plantas_animales = {
    "Rattus": ["novergicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]
}

# Obtener el listado de keys y guardarlo en una lista
keys_lista = list(plantas_animales.keys())
print("Lista de keys:", keys_lista)

# Añadir un par de elementos más al diccionario
plantas_animales["Ficus"] = ["elastica"]
plantas_animales["Ailuropoda"] = ["melanoleuca"]

# Convertir la lista de keys en un set
keys_set = set(list(plantas_animales.keys()))
print("Set de keys:", keys_set)

Lista de keys: ['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']
Set de keys: {'Echinocactus', 'Glaucidium', 'Ficus', 'Rattus', 'Ailuropoda', 'Opuntia'}